:root {
  --color-accent: oklch(70% 30% 200) ;
}

html {
  accent-color: var(--color-accent);
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
  font: 100%/1.5 system-ui;
  max-width: 150em;
  margin: 1 auto; 
  padding: 2rem;
}
nav {
  display: flex; 
  margin-bottom: 2rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}

nav a{
  flex: 1;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  color: inherit;
}

nav a.current{
  border-bottom-width: 0.4em;
  border-bottom-color: oklch(80% 3% 200);
  padding-bottom: 0.1em;
  font-weight: bold;
  border-bottom-style: solid;
}
